@page "/admin/Books"
<PageTitle>Manage Genres</PageTitle>

<AuthorizeView>
    <Authorized Context="loggedIn">
        <div class="row">
            <div class="col">
                @if (books == null)
                {
                    <LoadingSpinner />
                }
                else
                {
                    <h3>Manage Books</h3>
                    <Alert @ref="MainAlert" AlertList="errorList" Icon="@IconStrings.Info" />
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Release date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (books.Any())
                            {
                                @foreach (var book in books)
                                {
                                    <tr>
                                        <td>@book.Name</td>
                                        <td>@book.ReleaseDate.ToString("dd-MM-yyyy")</td>
                                        <td>€ @book.Price</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success" @onclick="@(() => OnEditBtnListClick(book))">
                                                <i class="@IconStrings.Edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger" @onclick="@(() => OnDeleteBtnListClick(book))">
                                                <i class="@IconStrings.Delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center">No books added</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary form-control mb-3" @onclick="OnAddBtnClick">
                        <span class="@IconStrings.Add" aria-hidden="true"></span> Add book
                    </button>
                    @if (ShowBookForm)
                    {
                        <div class="row border-top pt-3">
                            <div class="col">
                                <h3>@FormAddEditText authors</h3>
                                <EditForm EditContext="editContext" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmit">
                                    <DataAnnotationsValidator />
                                    <FormAlert @ref="FormAlert" EditContext="context"
                                       ErrorList="errorList" formSucces="@((result != null && result.Succes) ? true : false)" />
                                    <div class="mb-3">
                                        <label>Book name</label>
                                        <InputText class="form-control" @bind-Value="selectedBook.Name" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Description</label>
                                        <InputText class="form-control" @bind-Value="selectedBook.Description" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Release date</label>
                                        <InputDate class="form-control" @bind-Value="selectedBook.ReleaseDate" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Price (€)</label>
                                        <InputNumber class="form-control" @bind-Value="selectedBook.Price" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Image</label>
                                        <InputFile class="form-control" OnChange="SetUploadBook" accept=".jpg,.png" />
                                    </div>
                                    <div class="mb-3">
                                        <MultipleSelector T="Genre" Selector="@nameof(Genre.Name)"
                                                          Label="Genres"
                                                          UnSelected="UnSelectedGenres" 
                                                          Selected="selectedBook.Genres" />
                                    </div>
                                    <div class="mb-3">
                                        <MultipleSelector T="Author" Selector="@nameof(Author.Name)"
                                                          Label="Authors"
                                                          UnSelected="UnSelectedAuthors"
                                                          Selected="selectedBook.Authors" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Warehouse stock</label>
                                        @foreach (var warehouse in selectedBook.Warehouses.OrderBy(x => x.Id))
                                        {
                                            <div class="row mb-1">
                                                <div class="col">
                                                    <label>@warehouse.Name:</label>
                                                </div>
                                                <div class="col">
                                                    <InputNumber class="form-control" min="0" @bind-Value="warehouse.Amount" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <button type="submit" class="btn btn-primary form-control mt-3">
                                        <span class="@FormAddEditIcon" aria-hidden="true"></span> @FormAddEditText Book
                                    </button>
                                </EditForm>
                            </div>
                        </div>
                    }


                    <Modal @ref="Modal" HeaderText="Delete book"
                           BodyText="@($"Are you sure you want to delete '{ selectedBook.Name }'?")"
                           BtnConfirmTxt="Delete book" BtnConfirmColour="danger"
                           BtnConfirmIcon="@IconStrings.Delete"
                           OnConfirmMethod="OnModalDeleteConfirm" />
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>