<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyBookStore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingCart">
                <span class="@IconString.Basket" aria-hidden="true"></span> 
                Cart
                @if (Cart.GetTotalAmountOfBooks() > 0)
                {
                    <span class="badge rounded-pill bg-primary ms-2 p-2"> @Cart.GetTotalAmountOfBooks()</span>
                }
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
            <div class="nav-item dropdown px-3">
                <NavLink class="nav-link" @onclick="ToggleAdminDropDown">
                    <span class="@IconString.ListRich" aria-hidden="true"></span> Admin
                </NavLink>
                @if (collapseAdminMenu)
                {
                    <NavLink class="nav-link" href="admin/ManageGenre">
                        <span class="@IconString.Clipboard" aria-hidden="true"></span> Manage genres
                    </NavLink>
                    <NavLink class="nav-link" href="admin/ManageAuthor">
                        <span class="@IconString.Badge" aria-hidden="true"></span> Manage authors
                    </NavLink>
                    <NavLink class="nav-link" href="admin/Books">
                        <span class="@IconString.Book" aria-hidden="true"></span> Manage books
                    </NavLink>
                    <NavLink class="nav-link" href="admin/Warehouses">
                        <span class="@IconString.Box" aria-hidden="true"></span> Manage warehouses
                    </NavLink>
                }
            </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>