<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyBookStore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
            <div class="nav-item dropdown px-3">
                <NavLink class="nav-link" @onclick="ToggleAdminDropDown">
                    <span class="@IconStrings.ListRich" aria-hidden="true"></span> Admin
                </NavLink>
                @if (collapseAdminMenu)
                {
                    <NavLink class="nav-link" href="admin/ManageGenre">
                        <span class="@IconStrings.Clipboard" aria-hidden="true"></span> Manage genres
                    </NavLink>
                    <NavLink class="nav-link" href="admin/ManageAuthor">
                        <span class="@IconStrings.Badge" aria-hidden="true"></span> Manage authors
                    </NavLink>
                    <NavLink class="nav-link" href="admin/ManageBooks">
                        <span class="@IconStrings.Book" aria-hidden="true"></span> Manage books
                    </NavLink>
                }
            </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>